* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  font-size: 20px;
  padding-top: 30px;
}

main {
  padding: 20px;
  max-width: 450px;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  main {
    max-width: 600px;
  }
}

main .content {
  padding: 20px;
  max-height: 360px;
  height: 100%;
}

@media only screen and (min-width: 800px) {
  main .content {
    padding: 0;
    max-height: 310px;
  }
}

main .content img {
  margin-bottom: 20px;
  width: 70px;
}

main .content__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  gap: 20px;
}

main .content__text-wrap__title {
  font-size: 1.25em;
  color: #969696;
}

@media only screen and (min-width: 800px) {
  main .content__text-wrap__title {
    font-size: 1.75em;
  }
}

main .content__text-wrap__title span {
  font-weight: 700;
  color: black;
}

main .content__text-wrap__subtitle {
  font-size: 0.7em;
}

main .content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media only screen and (min-width: 800px) {
  main .content__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

main .content__form__wrap {
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 800px) {
  main .content__form__wrap {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

main .content__form__wrap input {
  width: 100%;
  padding: 13px 25px;
  outline: none;
  border-radius: 30px;
  font-size: 0.7em;
  border: 1px solid #c2d3ff;
  color: #c2d3ff;
}

main .content__form__wrap .error {
  border-color: #ff5263;
}

main .content__form__wrap .error-msg {
  display: none;
  color: #ff5263;
  font-size: 0.6em;
  text-align: center;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 800px) {
  main .content__form__wrap .error-msg {
    margin: 0;
    position: absolute;
    left: 25px;
    bottom: -20px;
  }
}

main .content__form__wrap .active {
  display: block;
}

main .content__form__btn {
  width: 100%;
  padding: 13px 25px;
  outline: none;
  border-radius: 30px;
  font-size: 0.7em;
  border: none;
  background: #4f7df3;
  color: #fff;
  font-weight: 600;
  -webkit-box-shadow: 0px 8px 10px #c2d3ff;
          box-shadow: 0px 8px 10px #c2d3ff;
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  main .content__form__btn {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

main .content__form__btn:hover {
  opacity: 0.7;
}

main .img-wrap {
  width: 100%;
}

main .img-wrap img {
  width: 100%;
  height: auto;
}

footer {
  margin-top: auto;
  font-size: 0.6em;
  color: #969696;
}

footer .social-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

footer .social-wrap .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  border: 1px solid #c2d3ff;
  border-radius: 50%;
  cursor: pointer;
}

footer .social-wrap .icon-container svg {
  width: 17px;
  height: 17px;
}

footer .social-wrap .icon-container svg path {
  fill: #4f7df3;
}

footer .social-wrap .icon-container:hover {
  background: #4f7df3;
  border-color: #4f7df3;
}

footer .social-wrap .icon-container:hover svg path {
  fill: #fff;
}

footer .copyright {
  margin-bottom: 40px;
}
/*# sourceMappingURL=styles.css.map */